body {
    margin: 0px;
    background: #F8FAFC;
    font-family: Ubuntu, Noto Sans, Open Sans, Roboto, sans-serif;
    min-height: 100vh;
    overflow-y: scroll;
}

.header-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
  width: 100%;
}

.header-center {
  display: flex;
  gap: 100px;
  justify-content: center;
  align-items: center;
}

.top-bar{
    height: 87px;
    background-color: #2563EB;
    display: flex;
    align-items: center;
}

.name-site {
    font-size: 32px;
    color: white;
}

.social-icons {
  display: flex;
  gap: 15px;
}

.social-icon {
  display: flex;
  width: 40px;
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.vk {
  background-image: url(img/vk-icon.png); 
}

.youtube {
  background-image: url(img/youtube-icon.png);
}

.telegram {
  background-image: url(img/telegram-icon.png);
}

.address {
  color: white;
  font-size: 22px;
}

.button-doctors-appointment {
  padding: 10px 20px;
  background-color: #F97316;
  color: white;
  border: none;
  border-radius: 90px;
  cursor: pointer;
   width: 329px;
  height: 52px;
}

.botton-text {
  font-weight:bold;
  font-size: 20px;
}

.phone-icon {
  width: 38px;
  height: 38px;
  flex-shrink: 0;
}

.phone-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.phone-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.phone {
  color: white;
}

.phone-is-free {
  font-weight: lighter;
  font-size: 14px;
  line-height: 1.2;
}

.phone-number {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.2;
}


.menu {
  height: 49px;
  background-color: #184099;
  display: flex;
  gap: 87px;
  justify-content: center;
  align-items: center;
}

.menu-bar {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.cover-section {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.cover-photo {
  width: 100%;
  height: 50vh;
  background-image: url('img/cover-photo.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  background-color: #e3e8f5;
  padding-top: 119px;
}


.preview {
  color:#184099;
  margin-left: 146px;
  
}

.main-name {
  font-size: 55px;
  font-weight: bold;
}

.mission {
  margin-top: 23px;
  font-size: 25px;
  font-weight: bold;
  color:#2563EB;
}

.points-container {
  margin-left: 146px;
  display: flex;
  gap: 100px;
  align-items: flex-start;
}

.points,
.points-left {
  font-size: 27px;
  margin-top: 50px;
  margin-left: 0;
  padding-left: 0;
  width: max-content;
  min-width: 350px;
}

li {
  list-style-position: inside; /* Маркеры внутри контента */
  padding-left: 0;             /* Убираем отступ слева, чтобы пункты не вылезали */
  margin-left: 0;              /* При необходимости обнуляем внешний отступ */
  margin-bottom: 18px
}


.square-container {
  display: flex;
  justify-content:space-around;
}

.square {
  margin-top: 40px;
  width: 443.52px;
  height: 374px;
  background-color: #e3e8f5;
  border-radius: 47px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 26px;
}

.square-name {
  font-size: 24px;
  font-weight: bold;
  color: #F97316;
  text-align: center;
  margin-top: 0;
  margin-left: 0;
}

.square-description {
  margin-top: 25px;
  padding: 0 18px 18px;
  color: #184099;
  font-size: 24px;
  text-align:left;
}


.news {
  color:#2563EB;
  margin-top: 53px;
  margin-left: 70px;
  font-size: 24px;
  font-weight: bold;
}


/*КОНТАКТЫ*/

.name-contacts {
  color:#2563EB;
  text-align: center;
  margin-top: 40px;
}

.name-title {
  font-size: 40px;
  font-weight: bold;

}

.welcome-text {
  color:#184099;
  font-size: 22px;
  font-weight: bold;

}

.sub-welcome-text {
  font-weight:normal;
  text-align: center;

}

.contacts-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 160px;
  padding: 50px 70px;
}

.map {
  display: flex;
  justify-content: flex-end;
}

.contacts-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: max-content;
}

.contact-title {
  font-size: 28px;
  font-weight: bold;
  color: #F97316;
  margin-bottom: 10px;
}

.contact-phone {
  font-size: 24px;
  font-weight: bold;
  color: #184099;
}

.contact-phone-note {
  font-size: 16px;
  color: #184099;
  font-weight: normal;
}

.contact-email,
.contact-address {
  font-size: 20px;
  color: #184099;
  margin-top: 20px;
}

.building-photo {
  display: flex;
  justify-content: center;
  margin: 40px 0;
}

.building-photo img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.news-container {
  width: auto;
  height: 360px;
  flex-shrink: 0;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  margin: 50px;
  padding:10px
}
.news-img-container {

  width: 360px;
  height: 360px;


}
.news-img {
    margin: 5px;

  object-fit: cover;
  display: block;
  overflow: hidden;
  background: #000;
}
